/*Header*/

.header{
	min-height: 712px;
	padding-top:25px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.52%, #000 100%), url(./img/header-bg.png), lightgray 0px -73.572px / 100% 139.065% no-repeat;
	background-repeat: no-repeat;
	background-size: cover;

}
.none {
	display: none !important;
}
body{
	overflow-x: hidden;
}
body._lock{
	overflow: hidden;
} 
.container{
	max-width: 1276px;
	margin: 0 auto;
}
body{
	font-family: 'Inter', sans-serif;
	color: white;
}
.header__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav{
	margin-bottom: 80px;
}
.nav-list{
	display: flex;
	gap:40px;
	font-size:10px;
	font-weight: 400;
}
.nav-btn{
	padding: 8px 17px;
	border-radius: 5px;
	border: 1px solid #FD3736;
}
.header_main-row{
	display: flex;
	justify-content: space-evenly;
}
.header-title{
	font-size:55px;
	font-weight: 700;
	margin-bottom:  20px;
	
}
.header-undertitle{
	font-size:24px;
	margin-bottom: 42px;
	color: rgba(255, 255, 255, 0.50)
}
.header-btn{
	padding:11.5px 24px;
	background: #FD3736;
	font-weight: 700;
	border-radius: 5px;
}
.header input{
	color: rgba(0, 0, 0, 0.20) !important;
	border-radius: 5px;
	background: #323232;
	height: 30px;
	width: 225px;
	margin-bottom: 17px;
	padding-left: 17px;

}

.mag{
	margin-bottom: 20px;
}
.header input::placeholder{
	font-size: 10px;
	justify-content: center;
	
}
.form-text{
	text-align: center;
	font-size: 12px;
}
.header-form{
	display: flex;
	flex-direction: column;

}
.boldText{
	font-weight: 700;
}
.form-title{
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 7px;
}

.header-half2{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left:10%;
	border-left: 1px solid white;
}
.btn-flex{
	display: flex;
	justify-content: center;
}
.form-btn{
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #FD3736;
	padding: 12.5px 37px;
}

/*Section ABOUT*/

.about{
	background: black;
	padding-bottom: 103px;
}
.img-about{
	border-radius: 10px;
	margin-bottom: 20px;
}
.main-title{
	display: flex;
	justify-content: center;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 52px;
}
.about-titles-rows{
	display: flex;
	gap:108px;
	justify-content: space-around;
	text-align: center;
}
.steps{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
}
.steps-text{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.50);
}

/*Section BENEFITS*/

.benefits{
	background: black;
}
.benefits-row{
	display: flex;
	gap:128px;
	justify-content: space-between;
	padding-bottom: 114px;
}
.first-benefits-row{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
}
.card{
	border-radius: 5px;
	background: #131313;
	margin-bottom: 20px;
	max-width: 196px;
}
.card-text{
	padding-bottom:20px;
	border-bottom: 2px solid white;
	font-size:14px;
	line-height: 160%;
	color: rgba(255, 255, 255, 0.50);
}
.card-title{
	margin-bottom:18px;
}
.card-img{
	margin-bottom:8px;
}
.card1 {
	padding: 40px 16px 40px;
	margin-right: 20px;
	max-height: 352px;
}
.card2{
	padding:36px 16px 37px;
	max-height: 270px;
}
.card3{
	padding: 39px 16px 40px;
	max-height: 290px;
}
.card4{
	padding: 29px 18px 29px;
	max-height: 360px;
}
.benefits{
	background-image: url(./img/benefitsBG.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 1920px 1015px;
}
.benefits-title{
	font-size:20px;
	font-weight: 700;
	margin-top: 33px;
	margin-bottom: 18px;
}
.benefits-note{
	display: flex;
	gap:10px;
	font-size: 14px;
	line-height: 160%;
	margin-bottom: 18px;
}
.benefits-text{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.50);
	max-width:435px;
	margin-bottom: 11px;
}
.benefits-btn{
	font-weight: 700;
	padding: 11.5px 24px;
	border-radius: 5px;
	background: #FD3736;
	margin-top:50.5px;
}
.benefits-btn-m{
	margin-top: 50.5px;
}
.benefits-btn-row{
	display: flex;
	
}
.works-row{
	display: flex;
	max-width: 991px;
	gap:340px;
}
.phone{
	min-width: 255px;
	min-height: 467px;
}
.Work-first-row{
	margin-top: 41px;
}
.how_Gpt_Works{
	padding-bottom: 84px;
	display: flex;
	justify-content: space-around;
}
.Work-sec-row{
	max-width: 412px;
}
.how-works-title{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 50px;
}
.how-works-text{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.70);
	margin-bottom: 15px;
	line-height: 160%;
}

/*Section TEAM*/

.team-title{
	margin-top:73px;
	margin-left:170px;
	margin-bottom:29px;
	font-size: 32px;
	color:black;
	font-weight: 700;
	line-height: 120%;
}
.team-card{
	position: relative;
}
.team-text{
	margin-left: 170px;
	font-size: 14px;
	line-height: 120%;
	color: rgba(0, 0, 0, 0.70);
	margin-bottom: 87px;
}

.team_card-init{
	right:-20;
	background: black;
    min-width: 203px;
	min-height: 66px;
	z-index: 2;
	position: absolute;
	left:33px;
	bottom: -32px;


}
.our_team-cards{
	display: flex;
	justify-content:center;
	gap: 112px;
	margin-bottom: 145px;
	max-width: 1920px;

}
.team-name{
	font-size: 14px;
	font-weight: 700;
	margin-left: 18.5px;
	padding-top: 15px;
	margin-bottom: 5px;
}
.team-job{
	font-size: 10px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.50);
	margin-left: 23.5px;
}
.pride-title{
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 120%;
	color: black;
	margin-bottom: 48px;
}
.pride-num{
	font-size: 36px;
	font-weight: 700;
	line-height: 120%;
	color: #FD3736;
	margin-bottom: 10px;
}
.pride-about{
	color: rgba(0, 0, 0, 0.50);
	font-size: 14px;
	line-height: 120%;
}
.pride-list{
	display: flex;
	justify-content: center;
	gap:100px;
	margin-bottom: 48px;
}
.pride-li{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.pride-btn-div{
	display: flex;
	justify-content: center;

}
.pride-btn{
	font-size:14px;
	font-weight: 700;
	padding: 11.5px 35px;
	border-radius: 5px;
	background: #FD3736;
	margin-bottom: 83px;
}

/*Section CALCULATE*/

.calculate{
	background: black;
}
.cal-header{
	display: flex;
	justify-content: center;
	padding-top:70px;
	font-size:20px;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 33px;
}
.cal-btn{
	font-size:14px;
	font-weight: 700;
	padding: 11.5px 13px;
	border-radius: 5px;
	background: #FD3736;
	max-height: 40px;
	
}
.cal-btn-div{
	display: flex;
	justify-content: center;
	padding-bottom: 148px;
}
.cal-img{
	position: absolute;
	transform: translate(330px, -350px);
	
}
.partners-row{
	display: flex;
	justify-content: center;
	position: relative;
	padding-bottom: 60px;

}
.partner-li{
	width: 256px;
	height: 200px;
	border: 1px solid rgba(255, 255, 255, 0.50);
	justify-content: center;
	text-align: center;
	align-items: center;
}
.partner-li img{
	height: fit-content;
	width: fit-content;
}
.partners-text{
	color: rgba(255, 255, 255, 0.70);
	font-size: 32px;
	font-weight: 700;
	line-height: 120%;
}

/*Section MANAGER*/

.manager{
	color:black;
}
.manager-title{
	margin-top:72px;
	margin-bottom: 26px;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.manager-about-title{
	font-size: 12px;
	font-weight: 700;
	line-height: 160%;
	text-transform: uppercase;
}
.manager-about-text{
	font-size: 12px;
	line-height: 160%;
	margin-bottom: 30px;
}
.manager-first-row{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left:150px;
	max-height: 500px;
}
.manager-wrapper{
	display: flex;
	gap: 185px;
}
::placeholder{
	font-size: 10px;
}
.addvert{
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 40px;;
}

/*FOOTER*/

.footer-form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.footer-form-text{
	display: flex;
}
.footer-input{
	border-radius: 5px;
	border: 1px solid #000;
}
.footer-form input{
	padding-left:17px;
	margin-bottom: 11px;
}
.footer-form input::placeholder{
	color: rgba(0, 0, 0, 0.20) !important;
}
.footer-btn{
	font-size: 14px;
	padding: 11.5px 24px;
	border-radius: 5px;
	background: #FD3736;
	margin-top: 20px;
	margin-bottom: 73px;
}
.manager-sec-row{
	display: flex;
	margin-left:100px;
	transform: translate(0, -36px);
}
.footer{
	background: black;
	position: relative;
}
.footer-input{
	color: rgba(0, 0, 0, 0.20) ;
}
.footer-list{
	font-size: 10px;
	padding-top: 51px;
	display: flex;
	justify-content: center;
	gap:40px;
	margin-bottom: 60px;
}
.footer-logo{
	display: flex;
	justify-content: center;
	padding-bottom: 71px;
}
.footer::before{
	content:'';
	height: 40px;
	width: 100%;
	background-color: black;
	position: absolute;
	transform: translate(0px, -40px);
	z-index: 1;
}
.controls{
	display: none;
	justify-content: center;
	gap: 70px;
	transform: translate(0, -30px);
}
a{
	transition: color 0.5s ease-in;
}
a:hover{
	color:yellow;
}
@media (max-width: 1800px){
	.header__row{
		justify-content: space-around;
	}
	.our_team-cards{
		gap:70px;
		
	}
}
@media (min-width: 1450px){
	.partner-li{
		display: flex !important;
	}
}
@media (max-width: 1650px) {
	.our_team-cards{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.team-card{
		flex-basis: 35%;
		display: flex;
		transform: translate(30%, 0);
		width:fit-content;
		height: fit-content;
	}

}
@media (max-width: 1450px){
	.manager-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		
	}
	.pride-list {
		flex-direction: column;
	}
	.partner-li{
		display:flex;
	}
	.controls{
		display: flex;
	}
	.manager-first-row{
	    margin-left: 0;
	}
	.manager-sec-row{
		margin-left: 0;
	}
}

@media (max-width: 1150px){
	.header_main-row{
		flex-direction: column;
		justify-content: center;
	}
	p{
		padding: 0 5%;
	}
	h1,h2,h3,h4,h5{
		padding: 0 5%;
	}
	.header-half2{
		padding-left: 0 !important;
	}
	.header-btn{
		margin-left:10%;
	}
	.header-half1{
		margin-left:10%;
		margin-bottom: 75px;
	}
	.header-half2{
		border: 0;
	}
	.header-form{
		margin-bottom: 116px;;
	}
	.about-titles-rows{
		flex-direction: column;
	}
	.benefits-row{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.first-benefits-row{
		order: 2;
	}
	.sec-benefits-row{
		order: 1;
		align-items: center;
	}
	.works-row{
		flex-direction: column;
	}
	.cal-img{
		display: none;
	}
	.manager-wrapper{
		flex-direction: column;
	}
	
}
@media (max-width: 800px){
	.nav-list{
		display: none;
	}
	.img-ai-div{
		width: 200px !important;
		height: 220px !important;
	}
	.team-card {
		display: flex;
		flex-basis: 100%;
		transform: translate(0,0);
		margin-left: 35%;
	}
	.manager-sec-row{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width: 600px){
	.team-card{
		margin-left: 25%;
		
	}
	.team-title {
		margin-left: 20px ;
	}
	.team-text {
		margin-left: 20px;
	}
}
@media (max-width: 420px){
	.first-benefits-row{
		display: grid;
		grid-template-columns: 1fr;
		flex-wrap: nowrap;
	}
	.Work-first-row{
		display: flex;
		justify-content: center;
	}
	.manager-sec-row {
		height: 200px !important;
		width: 210px !important;		
	}
	.img-ai-div{
		width: 140px !important;
		height: 160px !important;
	}
}
/*SLIDER*/
.swiper-slide img{
	width:58%;
	object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
	right: 140px !important;
	left:auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
	right: 140px !important;
	left: auto;
}
@media (max-width: 800px) {
	.nav-list{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap:10%;
		font-size: 30px;
		position: absolute;
		z-index: 3;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 90%;	
		overflow: auto;
		padding: 20px 0;
		background-color: rgb(36, 35, 60);
		transition: left 0.2s;
	}

	.nav-list._active {
		left: 0;
	}
}

.menu-icon {
	display: none;
}

@media (max-width: 800px) {
	.menu-icon {
		display: block;
		height: 18px;
		width: 30px;
		position: relative;
		cursor: pointer;
		z-index: 5;
	}

	.menu-icon span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}

	.menu-icon span:first-child {
		top: 0;
	}

	.menu-icon span:last-child {
		top: auto;
		bottom: 0;
	}

	.menu-icon._active span {
		transform: scale(0);
	}

	.menu-icon._active span:first-child {
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}

	.menu-icon._active span:last-child {
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}
}